.footer {
  background: black;
  padding: 50px;
  display: flex;
  align-items: center;
}

.footer li {
  display: inline;
  font-size: 40px;
  margin: 0 15px;
}

.footer a {
  color: white;
}


.footer h1 {
  font-size: 40px;
  font-weight: 700;
  color: #e14b5a;
  margin: 0 5px;
}
